.App {
  text-align: center;
}

.App-logo {
}


.App-header {
  display: flex;
  justify-content: space-around;
  border-bottom: lightgray solid ;
}

.App-link {
  color: #61dafb;
}

.header-list-items{
  display: flex;

}
li{
  list-style-type: none;
  border: #61dafb solid 5px;

}

.main-title-card{
  background-image: linear-gradient(to right ,rgb(21, 129, 183),rgb(21, 129, 183),#a13fd6 );
  padding: 5%;
}


.list-card-items-container{
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 20px;
  border: lightblue, solid, 5px;
}

img{
  height: 200px;
  width: 100px;
  background-color: gray;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
